[submodule "a0b-tools"]
	path = a0b-tools
	url = git@github.com:godunko/a0b-tools.git
[submodule "xtensa-dynconfig"]
	path = xtensa-dynconfig
	url = git@github.com:godunko/xtensa-dynconfig.git
[submodule "components/espidf_gnat_runtime"]
	path = components/espidf_gnat_runtime
	url = git@github.com:godunko/espidf_gnat_runtime.git
